{% extends 'base_all.html' %}

{% block title %}Detail View{% endblock %}

{% block content %}
<div class="blog-post container">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p><a href="{% url 'blog_update' slug=post.slug %}" class="btn btn-light">Edit post</a></p>
            <p class="blog-post-meta">{{ post.timestamp }}</p>
            <hr>
            <p>{{ post.body}}.</p>
            <p><a href="{% url 'blog_delete' slug=post.slug %}" class="btn btn-outline-danger">delete post</a></p>
</div><!-- /.blog-post -->
{% endblock %}