{% extends 'blog/base.html' %}
{% block title %}
Tags
{% endblock %}

{% block content %}



{% for post in tag.posts.all %}
<div class="card border-dark mb-3 mt-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img rounded" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="{{ post.get_absolute_url }}">
        <h5 class="card-title">{{ post.title }}</h5>
        </a>
        <p class="card-text">{{ post.body}} </p>
        {% for tag in post.tags.all %}
        <button type="button" class="btn btn-outline-primary">{{ tag  }}</button>
        {% endfor %}
        <p class="card-text"><small class="text-muted">{{ post.timestamp }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
